<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cadastrar Usuários</title>
  <meta content="PrimeGaming - Loja de Acessórios para Gamers" name="description">
  <meta name="keywords"
    content="games, gaming, store, comprar jogos, jogos, ps4, ps5, pc, PlayStation, Steam, mouse gamer, teclado gamer, headset">
  <meta property="og:image" content="#">

  <!-- Favicons -->
  <link href="../img/logo.png" rel="icon">
  <link href="../img/logo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- CSS  -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="../views/home-page.html" class="logo d-flex align-items-center">
        <img src="../img/logo.png" alt="">
        <span class="d-none d-lg-block">PrimeGaming</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- Fim Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown">
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="../img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">User</span>
          </a><!-- Fim Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Opções</h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="../views/users-profile.html">
                <i class="bi bi-person"></i>
                <span>Perfil</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="../../index.html">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sair</span>
              </a>
            </li>

          </ul><!-- Fim Profile Dropdown Itens -->
        </li><!-- Fim Profile Nav -->

      </ul>
    </nav><!-- Fim Icons Navigation -->

  </header><!-- Fim Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link " href="../views/home-page.html">
          <i class="bi bi-grid"></i>
          <span>Página Inicial</span>
        </a>
      </li><!-- Fim Dashboard Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Cadastrar</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="../views/forms-product.html">
              <i class="bi bi-circle"></i><span>Cadastrar Produtos</span>
            </a>
          </li>
          <li>
            <a href="../views/forms-customers.html">
              <i class="bi bi-circle"></i><span>Cadastrar Clientes</span>
            </a>
          </li>
          <li>
            <a href="../views/forms-users.html">
              <i class="bi bi-circle"></i><span>Cadastrar Usuários</span>
            </a>
          </li>
        </ul>
      </li><!-- Fim Cadastrar -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Clientes</span><i
            class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="../views/customers.html">
              <i class="bi bi-circle"></i><span>Lista Clientes</span>
            </a>
          </li>
        </ul>

      </li><!-- Fim Tables Nav -->

      <li class="nav-heading">Perfil</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="../views/users-profile.html">
          <i class="bi bi-person"></i>
          <span>Meu Perfil</span>
        </a>
      </li>


    </ul>

  </aside><!-- Fim Sidebar-->

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Cadastro de Usuários</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../views/home-page.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Usuários</li>
        </ol>
      </nav>
    </div>

    <section class="section">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Cadastro de Usuário</h5>
              <!-- Formulário para Cadastrar Usuário -->
              <form id="userForm">
                <div class="row mb-3">
                  <label for="userId" class="col-sm-2 col-form-label">ID</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="userId" placeholder="Identificador do usuário">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="userName" class="col-sm-2 col-form-label">Nome</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="userName" placeholder="Nome do usuário">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="userCpf" class="col-sm-2 col-form-label">CPF</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="userCpf" placeholder="CPF do usuário">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Cadastrar</button>
                  <button type="reset" class="btn btn-secondary">Resetar</button>
                </div>
              </form><!-- FimFormulário de Cadastro -->
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Atualizar Usuário</h5>
              <!-- Formulário para Atualizar Usuário -->
              <form id="updateUserForm">
                <div class="row mb-3">
                  <label for="updateUserId" class="col-sm-2 col-form-label">ID</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="updateUserId" placeholder="Identificador do usuário">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="updateUserName" class="col-sm-2 col-form-label">Nome</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="updateUserName" placeholder="Nome do usuário">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="updateUserCpf" class="col-sm-2 col-form-label">CPF</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="updateUserCpf" placeholder="CPF do usuário">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Atualizar</button>
                  <button type="reset" class="btn btn-secondary">Resetar</button>
                </div>
              </form><!-- Fim Formulário de Atualização -->
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Remover Usuário</h5>
              <!-- Formulário para Remover Usuário -->
              <form id="removeUserForm">
                <div class="row mb-3">
                  <label for="removeUserId" class="col-sm-2 col-form-label">ID</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="removeUserId" placeholder="Identificador do usuário">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-danger">Remover</button>
                  <button type="reset" class="btn btn-secondary">Resetar</button>
                </div>
              </form><!-- Fim Formulário de Remoção -->
            </div>
          </div>

        </div>
      </div>
    </section>
  </main><!-- Fim main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>PrimeGaming</span></strong>. Todos os direitos reservados
    </div>
    <div class="credits">
      <p>Desenvolvido por Alexsandra Luna | Bruna Rafaela | Diogo Spínola | João Vitor | Keven Max | Thiago Ribeiro</p>
    </div>
  </footer><!-- Fim do Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>



  <!-- JS -->
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/main.js"></script>

</body>

</html>